<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Index Page</title>
    <script type="text/javascript" src="/js/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="/uikit/js/uikit.min.js"></script>
    <link rel="stylesheet" href="/uikit/css/uikit.min.css"/>
    <link rel="stylesheet" href="/css/base.css"/>
</head>
<body>
index!
</body>
</html>